<% provide(:title, "Contacto") %>
<h1>Contacto | Página estática</h1>
<p>Aquí puede contactarnos haciendo uso de los siguientes medios:</p>
<br>
<p><a href="http://localhost:3000">Enlace de contacto directo</a>&nbsp;<b>aquí</b></p>
