<footer class="footer">
<small>
El <a href="#">Tutorial</a> hecho <i>parcialmente modificado</i>
por <a href="#">Rodney Cordoba</a>
</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
</ul>
</nav>
</footer>
